<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phamquan.maydonhietdo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domoi.PersonInfo"
            android:label="@string/title_activity_person_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.MainActivity" />
        </activity>
        <activity
            android:name=".domoi.Input"
            android:label="@string/title_activity_input"
            android:parentActivityName=".domoi.PersonInfo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".domoi.PersonInfo" />
        </activity>
        <activity
            android:name=".other.AboutUs"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.MainActivity" />
        </activity>
        <activity
            android:name=".other.Guideline"
            android:label="@string/title_activity_guideline"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.MainActivity" />
        </activity>
        <activity
            android:name=".domoi.Table"
            android:label="@string/title_activity_table"
            android:parentActivityName=".domoi.Input"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".domoi.Input" />
        </activity>
        <activity
            android:name=".hoso.Resume"
            android:label="@string/title_activity_ho_so"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.MainActivity" />
        </activity>
        <activity
            android:name=".hoso.HoSoBenhNhan"
            android:label="@string/title_activity_ho_so_benh_nhan"
            android:parentActivityName=".hoso.ListResume"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".hoso.ListResume" />
        </activity>
        <activity
            android:name=".hoso.CompareTwoChart"
            android:label="@string/title_activity_compare_two_chart"
            android:parentActivityName=".hoso.HoSoBenhNhan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.hoso.HoSoBenhNhan" />
        </activity>
        <activity
            android:name=".hoso.ListResume"
            android:label="@string/title_activity_list_resume"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.MainActivity" />
        </activity>
        <activity
            android:name=".domoi.Chart"
            android:label="@string/title_activity_chart"
            android:parentActivityName=".domoi.Input"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.phamquan.maydonhietdo.domoi.Input" />
        </activity>
    </application>

</manifest>
